/* TODO: Host fonts externally for Safari compatibility (see: https://stackoverflow.com/questions/59986432/safari-user-installed-fonts-dont-render/63208227#63208227) */
@font-face {
  font-family: "8-bit Arcade In Medium";
  src: url("../../public/fonts/8-bit-arcade/8-bit\ Arcade\ In.ttf") format("truetype");
}

@font-face {
  font-family: "8-bit Arcade Out Medium";
  src: url("../../public/fonts/8-bit-arcade/8-bit\ Arcade\ Out.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Operator Regular";
  src: url("../../public/fonts/pixel-operator/PixelOperator.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Operator SC Regular";
  src: url("../../public/fonts/pixel-operator/PixelOperatorSC.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Operator Mono Regular";
  src: url("../../public/fonts/pixel-operator/PixelOperatorMono.ttf") format("truetype");
}

*:not(input):focus:not(:active) {
  outline: 0px;
  @apply animate-pulse
}

input:focus {
  outline: 0px;
}

/* Remove coloured background from links when clicked */
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
