/* TODO: make fonts cross-platform using https://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
  font-family: "8-bit Arcade In Medium";
  src: url("../../public/fonts/8-bit-arcade/8-bit\ Arcade\ In.ttf") format("truetype");
}

@font-face {
  font-family: "8-bit Arcade Out Medium";
  src: url("../../public/fonts/8-bit-arcade/8-bit\ Arcade\ Out.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Operator Regular";
  src: url("../../public/fonts/pixel-operator/PixelOperator.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Operator SC Regular";
  src: url("../../public/fonts/pixel-operator/PixelOperatorSC.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Operator Mono Regular";
  src: url("../../public/fonts/pixel-operator/PixelOperatorMono.ttf") format("truetype");
}

*:focus {
  outline: 0px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
