# SENSITIVE INFO
.env

# root
node_modules
.DS_Store

# styles
/app/styles/tailwind.css

# build artifacts
/build
/public/build

# test artifacts
/cypress/screenshots
/cypress/videos

# database
/prisma/dev.db
/prisma/dev.db-journal
/prisma/data.db
/prisma/data.db-journal

# testing
/coverage
