@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(input, div):focus:not(:active) {
  outline: 0px;
  @apply animate-pulse;
}

input, div:focus:not(:active) {
  outline: 0px;
}

/* Remove coloured background from links when clicked */
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.os-theme-dark.os-theme-custom > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: 0px;
  @apply bg-line;
}

.os-theme-dark.os-theme-custom > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover {
  @apply bg-primary-light4;
}
